{
    "env": {
        "node": true
    },
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "ignorePatterns": ["**/dist/**", "**/types/**", "**/*.md"],
    "rules": {}
}
